<div class="basic-container">
<table mat-table [dataSource]= 'users' matSort>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let user"> {{user.firstName}} {{user.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
    <td mat-cell *matCellDef="let user"> {{user.age}} </td>
  </ng-container>

  <ng-container matColumnDef="Salary">
    <th mat-header-cell *matHeaderCellDef> Salary </th>
    <td mat-cell *matCellDef="let user"> {{user.salary}} </td>
  </ng-container>

  <ng-container matColumnDef="Address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let user"> {{user.address}}, {{user.city}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef > </th>
    <td mat-cell *matCellDef="let user">
      <button mat-raised-button color="primary" (click)="delete(user._id)">Delete</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let user">
      <button mat-raised-button color="primary" [routerLink]="['./edit/', user._id]">Edit</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
  <br/>
  <br/>
  <form [formGroup]="filterForm">
    <div class="form-group">
      <mat-form-field>
        <input type="number" formControlName="ageFilter" class="form-control" matInput placeholder="Filter" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input type="text" formControlName="op" class="form-control" matInput placeholder="Operator" />
      </mat-form-field>
    </div>
  </form>
  <button mat-raised-button color="primary" (click)="filter(filterForm.value.ageFilter, filterForm.value.op)">Filter</button>
</div>



